<mat-toolbar
  class="main-bar"
  color="primary"
>
  <div class="logo-toggle-wrapper">
    <a
      [routerLink]="['']"
      class="logo-link"
    ></a>
    <button
      (click)="toggleSidenav.emit()"
      [matTooltip]="'TOOLBAR.MENU'"
      class="toggle-sidenav"
      mat-icon-button
      matTooltipPosition="right"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex></div>
  <button
    (click)="logout()"
    mat-icon-button
    matTooltip="Cerrar sesión"
    matTooltipPosition="left"
  >
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>